header{
    height: 8rem;
    padding: 0 10rem;
}

#sectionA_header, #sectionA_header_phone{
    display: flex;
    justify-content: center;
    align-items: center;
}

#icon_phone_header{
    width: 5rem;
}

#sectionA_header_phone{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#sectionA_header_phone #phoneNumber{
    font-size: 2rem;
    color: #fff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#sectionA_header_phone #callUs{
    font-size: 1.4rem;
    color: #99A9B5;
    font-weight: bold;
}


#headerPhone_text{
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#icon_menu{
    display: none;
}

#dropDownMenu{
    display: flex;
}

.dropDownMenu_item{
    position: relative;
    margin-left: 3rem;
    padding: 2.5rem 0;
    transition: all 0.2s;
    cursor: pointer;
}

.dropDownMenu_item a:hover{
    border-bottom: 2px solid #FF5B93;
}

.dropDownMenu_item:hover > .dropDownMenu_subMenu{
    display: block;
}

#dropDownMenu a{
    display: inline-flex;
    padding: 0.5rem;
    font-size: 1.6rem;
    color: #fff;
    font-weight: bold;
}

#dropDownMenu_itemHome{
    border-bottom: 2px solid #00BEA4 ;
}

.dropDownMenu_subMenu{
    display: none;
    position: absolute;
    top: 8rem;
    left: 0;
    width: 30rem;
    padding: 0.5rem 0;
    background-color: #333;
    transition: all 0.3s;
}

#dropDownMenu .dropDownMenu_subMenu li a{
    display: inline-flex;
    width: 100%;
    padding: 1rem 0 1rem 1.5rem;
    border: none;
    background-color: #333;
    color: #ccc;
}

#dropDownMenu .dropDownMenu_subMenu li a:hover{
    background-color: #00BEA4;
    color: #fff;
}

#mobileMenu{
    display: none;
}

#homeMain_slider_1920p{
    height: 56rem;
}

#homeMain_slider_1920p{
    display: block;
}

#homeMain_slider_768p, #homeMain_slider_1300p{
    display: none;
}

.sliderTextA, .sliderTextB{
    font-size: 3rem;
    bottom: 3rem;
}

#back_icon, #forward_icon{
    width: 4rem;
    top: calc(50% - 2rem);    
    cursor: pointer;
}

#programs button{
    cursor: pointer;
}

#moreInfoHer:hover{
    background-color: #FF5B93;
    color: #fff;
}

#moreInfoHim:hover{
    background-color: #00BEA4;
    color: #fff;
}

#offering button{
    cursor: pointer;
}

#offering button:hover{
    background-color: #fff;
    color: #16171D;
}

.planButton{
    cursor: pointer;
}

#planBeginner_button:hover{
    background-color: #FF5B93;
    color: #fff;
}

#planBeginner_medium:hover{
    background-color: #00BEA4;
    color: #fff;
}

#planBeginner_advanced:hover{
    background-color: #B2E363;
    color: #fff;
}

.why{
    width: 33%;
}

.why:nth-child(2) button:hover{
    background-color: #fff;
    border: 2px solid #fff;
    color: #00BEA4;
    cursor: pointer;
}

.why:nth-child(4) button:hover{
    background-color: #fff;
    border: 2px solid #fff;
    color: #FF5B93;
    cursor: pointer;
}

.why:nth-child(6) button:hover{
    background-color: #fff;
    border: 2px solid #fff;
    color: #B2E363;
    cursor: pointer;
}

.photo_container{
    width: 40rem;
}

.photo_container p{
    cursor: pointer;
}

#galery{
    padding: 0;
}

.photo_container img{
    cursor: pointer;
}

.courtain{
    cursor: pointer;
}

#galery button:hover{
    background-color: #00BEA4;
    border: 2px solid #fff;
    color: #fff;
} 

#galery button{
    cursor: pointer;
}

/* #footer_container{
    
    flex-direction: row;
   
} */

#footer_section_b{
    justify-content: space-around;
}



