#sectionA_header{
    display: none;    
}

#icon_menu{
    display: block;
}

header{
    padding: 0 5rem;
}

#dropDownMenu{
    display: none;
}

#homeMain_slider_1300p{
    height: 51rem;
}

#homeMain_slider_1300p{
    display: block;
}

#homeMain_slider_768p, #homeMain_slider_1920p{
    display: none;
}

.sliderTextA, .sliderTextB{
    font-size: 2.5rem;
}

#introducing{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}

#welcome, #programs{
    width: 48%;
}

#programs{
    margin-top: 0;
}

#programs button{
    margin-top: 3rem;
    margin-bottom: 0;
}

.programs_figure{
    position: absolute;
    top: 1.3rem;
    left: 3rem;
}

.programas_herHim{
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
}

.programs_info{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#programs h2{
    width: 100%;
    text-align: left;
}

#programs p{
    text-align: left;
    padding: 0 1rem 0 0;
}

#plan_wrap{
    justify-content: space-around;
}

.why{
    width: 50%;
    height: 51.2rem;
}

#galery{
    justify-content: space-around;
    padding: 0 5rem;
}

#galery_wraper{
    justify-content: space-around;
}


#footer_infoContainer > div{
    padding-left: 6rem;
}

.footer_iconBox{
    width: 7rem;
    height: 7rem;
    right: 6rem;
}


    