*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

body{
    width: 100%;
    max-width: 192rem;
}

header{
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: #16171D;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

nav{
    position: relative;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo_header{
    width: 15rem;
}

#icon_menu{
    display: block;
    width: 4.4rem;
    cursor: pointer;
}

#sectionA_header{
    display: none;    
}

#dropDownMenu{
    display: none;
}

#mobileMenu{
    display: none;
    width: 25rem;
    position: absolute;
    top: 4rem;
    right: -2rem;
    padding: 0.5rem 0;
    background-color: #333;
}

.mobileMenu_item a{
    display: inline-flex;
    width: 100%;
    padding: 1rem 0 1rem 2rem;
    font-size: 1.6rem;
    color: #fff;
}

#icon_close{
    display: none;
    width: 2rem;
}

#homeMain_slider_768p, #homeMain_slider_1300p, #homeMain_slider_1920p{
    width: 100%;
    overflow: hidden;
}

#homeMain_slider_768p{
    height: 27rem;
}

#homeMain_slider_img768p, #homeMain_slider_img1300p, #homeMain_slider_img1920p{
    width: 100%;
    object-fit: cover;
}

#homeMain_slider_768p{
    display: block;
}

#homeMain_slider_1300p, #homeMain_slider_1920p{
    display: none;
}

#sliderContainer{
    position: relative;
}

.sliderTextA, .sliderTextB{
    position: absolute;
    font-size: 2rem;
    font-weight: 600;
    bottom: 1rem;
    z-index: 10;
}

.sliderTextA{
    left: 1rem;
}

.sliderTextB{
    right: 1rem;
    text-align: right;
}

.whiteSpan{
    color: #fff;
}

#greenSpan{
    color: #00BEA4;
}

#pinkSpan{
    color: #FF5B93;
}

#back_icon, #forward_icon{
    position: absolute;
    width: 3rem;
    top: calc(50% - 1.5rem);    
    z-index: 11;
}

#back_icon{
    left: 2rem;
}

#forward_icon{
    right: 2rem;
}

#introducing{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 7rem;
    align-items: center;
}

#welcome, #programas{
    width: 100%;
}

#welcome h1{
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    font-size: 4.5rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 5rem;
}

#welcome h1 span{
    font-size: 3rem;
}

#welcome p{
    padding-left: 1.5rem;
    line-height: 3.6rem;
    font-size: 1.8rem;
    color: #5f727f;
}

#programs{
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#programs h2{
    margin-bottom: 3rem;
    text-align: center;
    font-size: 1.9rem;
    font-weight: 700;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 3rem;
}

.programs_figure{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    margin-bottom: 3rem;
    border-radius: 0.5rem;
    transform: rotate(45deg);
    background-color: #2B2D3A;
}

.programs_figure img{
    width: 5rem;
}

.programas_herHim, .programs_info {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#programs p{
    padding: 0 1rem;
    font-size: 1.6rem;
    line-height: 3.2rem;
    text-align: center;
    color: #5f727f;
}

#programs button{
    padding: 0.6rem 1rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
    background-color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    transition: all 0.3s;
}

#moreInfoHer{
    border: 0.2rem solid #FF5B93;
    color: #FF5B93;
}

#moreInfoHim{
    border: 0.2rem solid #00BEA4;
    color: #00BEA4;
}

#offering{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    padding: 10rem 2rem;
    background-image: url('../assets//images//offering_background.webp');
    background-size: cover;
}

#offering article{
    width: 37rem;
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 7rem 1rem;
    margin-bottom: 3rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

#offering p{
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2.5rem;
    color: gray;
}

#offering h2{
    text-align: center;
    font-size: 3.2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    font-weight: bold;
}

#offering button{
    padding: 1rem 2rem;
    background-color:#16171D;
    border: 1px solid #fff;
    border-radius: 0.4rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
    transition: all 0.3s;
}

#offering article img{
    width: 5rem;
}

#plans{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 14rem;
    background-image: url('../assets/images/plans_background.webp');
    background-size: cover;
}

#plans h2{
    width: 100%;
    margin-bottom: 6rem;
    text-align: center;
    font-size: 4rem;
    font-weight: bolder;
    color: #FFF;
}

.plan{
    width: 37rem;
    /* height: 6    0rem; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 3rem;
    border-radius: 0.5rem;
    background-color: #fff;
}

.plan > p{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.5rem;
    color: #262626;
}

.plan > p:nth-child(odd){
    background-color: #F4F6F7;
}

.plan > p:nth-child(even){
    background-color: #fff;
}

#plan_wrap{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.planHeader{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 37rem;
    height: 15rem;
    padding: 3rem 0;
    background-color: #FF5B93;
    border-radius: 0.5rem 0.5rem 0 0;
}

.planHeader h3{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: #fff;
    font-weight: normal;
}

.planHeader > p{
    font-size: 2rem;
    color: #333;
}

.plan button{
    margin: 2rem;
    padding: 1rem 1.5rem;
}

#header_beginner{
    background-color: #FF5B93;
}

#header_medium{
    background-color: #00BEA4;
}

#header_advanced{
    background-color: #B2E363;    
}

.planButton{
    background-color: #fff;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
}

#planBeginner_button{
    border: 2px solid #FF5B93;
    color: #FF5B93;
}

#planBeginner_medium{
    border: 2px solid #00BEA4;
    color: #00BEA4;
}

#planBeginner_advanced{
    border: 2px solid #B2E363;
    color: #B2E363;
}

#whyWe{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#whyWe h2{
    width: 100%;
    margin: 10rem 0 6rem 0;
    text-align: center;
    font-size: 4rem;
    font-weight: bolder;
    color: #000;
}

#whys{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.why{
    width: 100%;
    max-width: 76.7rem;
    height: 50rem;
    overflow: hidden;
}

.why img{
    width: 100%;
    object-fit: cover;
}

.why:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #00BEA4;
}

.why:nth-child(4){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #FF5B93;
}

.why:nth-child(6){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #B2E363;
}

.why p{
    text-align: center;
    color: #fff;
}

#whyWe > p{
    display: inline;
    text-align: center;
    max-width: 60rem;
    margin-bottom: 6rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #5f727f;
}

.why_number{
    font-size: 8rem;
    font-weight: bold;
}

.why_title{
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 4rem;
}

.why_text{
    padding: 0 5rem;
    line-height: 2.6rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
}

.why button{
    border: 2px solid #fff;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;
}

.why:nth-child(2) button{
    border-radius: 3px;
    background-color: #00BEA4;
    transition: all 0.3s;
}

.why:nth-child(4) button{
    border-radius: 3px;
    background-color: #FF5B93;
    transition: all 0.3s;
}

.why:nth-child(6) button{
    border-radius: 3px;
    background-color: #B2E363;
    transition: all 0.3s;
}

.noIncluded{
    text-decoration: line-through;
 }

 #galery{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
 }

 #galery_wraper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
 }

 .photo_container{
    position: relative;
    width: 35rem;
    height: 35rem;
    overflow: hidden;
    margin-bottom: 4rem;
    border-radius: 5px;
    transition: all 0.3s;
}

 .photo_container img{
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
 }

 #galery h2{
    width: 100%;
    margin: 10rem 0 6rem 0;
    text-align: center;
    font-size: 4rem;
    font-weight: bolder;
    color: #000;
}

#galery > p{
    display: inline;
    text-align: center;
    max-width: 60rem;
    margin-bottom: 6rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #5f727f;
}

.photo_container p{
    display: none;
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    transition: all 0.3s;
}

.courtain{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FF5B93;
    opacity: 0.7;
    transition: all 0.3s;
}

.photo_container:hover > p, .photo_container:hover > .courtain{
    display: inline-block;
}

#galery button{
    padding: 1rem 2rem;
    background-color: #fff;
    font-size: 1.8rem;
    font-weight: bold;
    border: 2px solid #00BEA4;
    color: #00BEA4;
} 

#galery a{
    margin-top: 5rem;
}

#footer_infoContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#footer_infoContainer > div{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20rem;
    padding-left: 3rem;
    background-color: #2D303F;
    border: 1px solid #ccc;
}

#footer_infoContainer div p:nth-child(1){
    margin-bottom: 3rem;
    font-size: 1.6rem;
    color: #fff;
    font-weight: bold;
}

#footer_infoContainer div p:nth-child(2){
    font-size: 1.4rem;
    color: #99A9B5;
    font-weight: 400;
    line-height: 2rem;
}

#footer_mapContainer{
    width: 100%;
}

footer iframe{
    width: 100%;
    height: 40rem;
}

#footer_infoContainer img{
    width: 3rem;
    transform: rotate(-45deg);
}

.footer_iconBox{
    position: absolute;
    top: 3rem;
    right: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    width: 5rem;
    height: 5rem;
}

#address_iconBox{
    border: 2px solid #B2E363;
}


#phone_iconBox{
    border: 2px solid #00BEA4;
}

#email_iconBox{
    border: 2px solid #FF5B93;
}

#clock_iconBox{
    border: 2px solid #1A73E8;
}

#footer_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
}

#footer_section_b{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    border-top: 1px solid #ccc;
    background-color: #262626;
}

#footer_socialMedia{
    width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer_socialMedia a img{
    width: 2rem;
}

#footer_socialMedia {
    padding: 3rem 0;
}

#footer_copyRight
{
    font-size: 1.5rem;
    color: #fff;
}

#footer_copyRight span{
    color: #ff6600;
}

